name: Build, Test and Push Docker Image

on:
  workflow_call:
    outputs:
      image_tag:
        description: "The tag of the Docker image that was built and pushed."
        value: ${{ jobs.build_test_and_push.outputs.image_tag }}
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/customer-management-spring

jobs:
  build_test_and_push:
    name: Build, Test and Push Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image_tag: ${{ steps.meta.outputs.sha_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and run tests with Maven
        working-directory: ./customer-management-spring
        run: mvn clean package -DskipTests=false

      - name: Generate image tags
        id: meta
        run: |
          SHA_TAG=$(git rev-parse --short "$GITHUB_SHA")
          echo "sha_tag=${SHA_TAG}" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./customer-management-spring
          file: ./customer-management-spring/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.meta.outputs.sha_tag }}
            ${{ env.IMAGE_NAME }}:latest
          platforms: linux/amd64
